NetFramework-Client/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:7246/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonTypes" />
  <xs:element name="GetSimpleValue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimpleValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonTypes" minOccurs="0" name="GetSimpleValueResult" type="q1:SomeSharedType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexValue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplexValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommonTypes" minOccurs="0" name="GetComplexValueResult" type="q2:AnotherSharedType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>