NetFramework-Client/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:7246/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:7246/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:7246/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonTypes" />
      <xsd:import schemaLocation="https://localhost:7246/Service.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetSimpleValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSimpleValue" />
  </wsdl:message>
  <wsdl:message name="IService_GetSimpleValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSimpleValueResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetComplexValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComplexValue" />
  </wsdl:message>
  <wsdl:message name="IService_GetComplexValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComplexValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetSimpleValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSimpleValue" message="tns:IService_GetSimpleValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSimpleValueResponse" message="tns:IService_GetSimpleValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComplexValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetComplexValue" message="tns:IService_GetComplexValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetComplexValueResponse" message="tns:IService_GetComplexValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSimpleValue">
      <soap:operation soapAction="http://tempuri.org/IService/GetSimpleValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComplexValue">
      <soap:operation soapAction="http://tempuri.org/IService/GetComplexValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="https://localhost:7246/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>